<!doctype html>
<html lang="en">

<% include ../components/head.ejs %>

<body>

  <% include ../components/navbar.ejs %>

  <div class="container">

    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
        </p>
        </div>
        <div class="col-xs-12 col-sm-9">

  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% if (articles) { %>
        <% for (var i = 0; i < articles.length; i++) { %>
          <li data-target="#myCarousel" data-slide-to="<%= i %>" class="<% if (i == 0) { %> active <% } %>"></li>
        <% } %>
      <% } %>
    </ol>
    <div class="carousel-inner" role="listbox">
      <% if (articles) { %>
        <% for (var i = 0; i < articles.length; i++) { %>
          <div class="item <% if (i == 0) { %> active <% } %>">
            <img class="first-slide" src="<%= articles[i].url %>" alt="<%= articles[i].title%>">
            <div class="container">
                <div class="carousel-caption">
                <h1><%= articles[i].title %></h1>
                <br>
                <p><%= articles[i].content %></p>
              </div>
            </div>
          </div>
        <% } %>
      <% } %>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- /.carousel -->
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <h2>Videos frame</h2>
              <video class="img-responsive" controls="" width="750" height="450">
                  <source src="./media/video1.mp4" />
              </video>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div><!--/.col-xs-12.col-sm-6.col-lg-4-->
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <h2>Videos frame</h2>
              <video class="img-responsive" controls="" width="750" height="450">
                  <source src="./media/video2.mp4" />
              </video>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div><!--/.col-xs-12.col-sm-6.col-lg-4-->
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <h2>Videos frame</h2>
              <video class="img-responsive" controls="" width="750" height="450">
                  <source src="./media/video3.mp4" />
              </video>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div><!--/.col-xs-12.col-sm-6.col-lg-4-->
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <h2>Videos frame</h2>
              <video class="img-responsive" controls="" width="750" height="450">
                  <source src="./media/video4.mp4" />
              </video>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div><!--/.col-xs-12.col-sm-6.col-lg-4-->
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <h2>Videos frame</h2>
              <video class="img-responsive" controls="" width="750" height="450">
                  <source src="./media/video5.mp4" />
              </video>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div><!--/.col-xs-12.col-sm-6.col-lg-4-->
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <h2>Videos frame</h2>
              <video class="img-responsive" controls="" width="750" height="450">
                  <source src="./media/video6.mp4" />
              </video>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div><!--/.col-xs-12.col-sm-6.col-lg-4-->
        </div><!--/row-->
      </div><!--/.col-xs-12.col-sm-9-->

<!-- Pas besoin de catégories pour l'instant vu que pour la beta il n'y aura que la dance
      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
          <a href="#" class="list-group-item">Catégorie 1</a>
          <a href="#" class="list-group-item">Catégorie 2</a>
          <a href="#" class="list-group-item">Catégorie 3</a>
          <a href="#" class="list-group-item">Catégorie 4</a>
          <a href="#" class="list-group-item">Catégorie 5</a>
          <a href="#" class="list-group-item">Catégorie 6</a>
          <a href="#" class="list-group-item">Catégorie 7</a>
          <a href="#" class="list-group-item">Catégorie 8</a>
        </div>
      </div>--><!--/.sidebar-offcanvas-->
    </div><!--/row-->

    <hr>

    <% include ../components/footer.ejs %>

  </div><!--/.container-->

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="assets/jquery/jquery-3.1.1.min.js"></script>
  <script src="assets/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
  <script src="javascript/offcanvas.js"></script>
</body>

</html>
